<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context1="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       ">


    <context1:annotation-config/>
    <context1:component-scan base-package="com.company.spring"/>


    <bean id="factorybean" class="com.company.spring.factorybean.FactorybeanImpl">
        <property name="id" value="1001"></property>
        <property name="name" value="tom"></property>
    </bean>


    <bean id="personFactory" class="com.company.spring.factorybean.PersonFactory">
        <property name="id" value="1001"></property>
        <property name="name" value="tom"></property>
    </bean>


</beans>